@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Raleway:wght@500;700&display=swap');

$header_background: #2E7BA2;
$footer_background: #FACF9D;

$header_text_color: white;
$text_color: #444444;

$ticket-button-color: #DF9010;
$ticket-text-color: white;

$tablet-min-width: 768px;
$desktop-min-width: 1440px;

$first-font: 'Raleway';
$secondary-font: 'Calistoga';